<ion-view view-title="Registration" name="Register-view">
    <ion-content class="padding">
        <div class="list list-inset">

            <form name="signupForm">
                <label class="item item-input">
                    <input type="text" placeholder="Firstname" ng-required="" ng-model="register.firstName">
                </label>

                <label class="item item-input">
                    <input type="text" placeholder="Lastname" ng-required="" ng-model="register.lastName">
                </label>

                <label class="item item-input">
                    <input type="text" placeholder="Phone" ng-required="" ng-model="register.phone">
                </label>
                <span class="userForm">This must be tied to your current phone number or this app will not work properly</span>

                <h4>Login Credentials</h4>

                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-required="" ng-model="register.email">
                </label>

                <label class="item item-input">
                    <input id="pw1" name="pw1" type="password" placeholder="Password" ng-required="" ng-model="pw1">
                </label>

                <label class="item item-input">
                    <input id="pw2" name="pw2" type="password" placeholder="Retype Password" ng-required="" ng-model="pw2" pw-check="pwd1">
                </label>

                <div class="msg-block" ng-hide="pw1 == pw2">
                        Passwords don't match.
                </div>
                <button class="button button-block button-positive" ng-click="auth.login()">Login</button>
            </form>

        </div>
    </ion-content>
</ion-view>